tags
*.o
*.sub
*.guess
ltmain.sh
*.la
*.a
.deps
.dirstamp
.libs
*.lo
*.pb.h
*.pb.cc
*.rl.cc
aclocal.m4
autom4te.cache
config.h.in
config.log
config.status
configure
config.h.in~
install-sh
libtool
Makefile
Makefile.in
missing
stamp-h1
*.pc
depcomp
*.xcodeproj

tests/my_test.cpp
tests/my_test
bin/test_config
bin/test

bin/log.txt
bin/root.txt
bin/system.txt


.git-old